/*****************
styling of main page
*******************/


/*****************
GENERAL
*******************/

body{
    font-family: 'Open Sans', sans-serif;



}

#wrapper {
    max-width: 940px;
    margin: 0 auto ;
    padding: 0 5%;
 
 }


  
header{
float:left;
margin: 0 0 30px 0;
padding: 5 px 0 0 0;
width:100%; /* to remove the effect from the flaoting*/




}



#logo{
    text-align: center;
    margin: 0;
}

h1{
    font-family: 'Open Sans', sans-serif;
    margin: 15 px 0;
    font-size: 1.75em;
    font-weight: normal;
    line-height: 0.8em;/*spacing between text*/
 
}

h2{
    font-size: 0.75em;
    margin: -5px 0 0;/*negative marign: T, L,B: puts the elements closer to elements more closer! instead of the oposite!*/
    font-weight: normal;
}

/*****************
NAVIGATION
*******************/
nav{
    text-align:center;
    padding:10px 0;
    margin: 20px 0 0;
}

nav ul{
    list-style: none;
    margin: 0 10 px;
    padding: 0;

}

nav li{
    display: inline-block;


}
nav a{
    font-weight: 800;
    padding:15 px 10 px;



}


 /*****************
FOOTER
*******************/
footer{
    font-size: 0.75em;
    text-align: center;
    clear:both;
    padding-top: 50px;
    color: #ccc;
}


.social-icon{

width:20px;
height:20px;
margin:0 5px;


}

/*****************
PAGE PORTFOLIO
*******************/
#gallery{
margin:0;
padding:0;
list-style:none; /* remove all bullet points, remove style from list*/

}

/*lets stuff apear next to eachother, floating technique*/
#gallery li{
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #f5f5f5;
    color: #bdc3c7;


}

/* style the paragraphs in our gallery, subtitles*/
#gallery li a p{
marign: 0;
padding: 5%;
fontsize: 0.75em;
color: #bdc3c7;


}



/*****************
PAGE ABOUT 
*******************/

.profile-photo{
    display: block;
    max-width: 150px;
    margin: 0 auto 30px;
    border-radius: 100%;
}




/*****************
PAGE CONTACT
*******************/

.contact-info{
    list-style:none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.contact-info a{
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}
.contact-info li.phone a{
    background-image: url('../img/telephone.png');
}


.contact-info li.mail a{
    background-image: url('../img/mail.png');
}



/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


/*****************
PAGE INPSIRATION
*******************/

.image-inspiration{
    display: block;
    max-width: 150px;
    margin: 0 auto 30px;
    border-radius: 80%;
}





/*****************
COLOR
*******************/

/*site body */
body{
    background-color:#fff;
    color:#999;

}
 
  /*logo text */
 header{
     background:#6ab47b;
     border-color:#599a68;
     

 }
 /*logo text */
 h1, h2{
     color: #fff;
 }

 
   /*links */
   a{
    color:#6ab47b;
   
}

img {
    max-width:100%; /*  fill size parrent container*/




}

 /*green navigation backgroun*/
 nav{
    background:#599a68 ;
}

 
 /*give same color even when we hoover*/
 nav a, nav a:visited {
     color:#fff;


 }
 /*lining of navigation*/
 nav a.selected, nav a:hover{
     color: #32673d;

 }
 
